body {
    background-color: black;
}

p {
    color: white;
    text-align: center;
}

#member_profile{
    clear: both;
    float: left;
   margin: 5px;
}

.member_photo{
    clear: both;
}

.photo{
   float: left;
   margin: 5px;
}